.archive-publisher-title {
  padding: 74px 0 26px;

  h1 {
    color: $color-black-1;
    font-size: 28px;
    font-weight: $font-weight-extra-bold;
    line-height: 1.143;
  }
}

.archive-publisher-month-section {
  background-color: $color-black-1;
  padding: 48px 0 36px;
}

.archive-publisher-month-title {
  text-align: center;

  h2 {
    color: $color-white;
    font-size: 18px;
    font-weight: $font-weight-semi-bold;
    letter-spacing: 1.8px;
  }
}

.archive-publisher-month-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
}

.archive-publisher-month-col {
  padding: 26px 0;
  width: 33.33333%;
}

.archive-publisher-month-item {
  margin: 0 auto;
  max-width: 280px;
  text-align: center;
}

.archive-publisher-month-title {
  margin-top: 22px;

  h3 {
    color: $color-white;
    font-size: 16px;
    font-weight: $font-weight-light;
    line-height: 1.5;
    text-align: center;
  }
}
