.pcat-list-section {
  border-bottom: 2px solid $color-black-1;
  padding: 74px 0 32px;
}

.pcat-list-title {
  h1 {
    color: $color-black-1;
    font-size: 28px;
    font-weight: $font-weight-extra-bold;
    line-height: 1.143;
  }
}

.pcat-list-row {
  display: flex;
  margin-top: 21px;
}

.pcat-list-col {
  color: $color-black;
  font-size: 14px;
  font-weight: $font-weight-light;
  line-height: 1.143;
    
  a {
    color: $color-black;
  }
}

.pcat-list-col+.pcat-list-col {
  margin-left: 15px;
}

.pcat-list-label {
  font-weight: $font-weight-extra-bold;
}

.pcat-filter-section {
  background-color: $color-white;
  padding: 29px 0 28px;
}

.pcat-filter-row {
  display: flex;
}

.pcat-filter-label {
  display: flex;
}

.pcat-filter-label-text {
  color: $color-black-1;
  font-size: 18px;
  font-weight: $font-weight-semi-bold;
  letter-spacing: 1.8px;
  margin-left: 20px;
  padding-top: 1px;
}

.pcat-filter-button {
  margin-left: 84px;
  padding-top: 1px;
}

.pcat-filter-button-inner {
  cursor: pointer;
  display: flex;

  &.active {
    .pcat-filter-button-icon-inner {
      transform: rotate(180deg);
    }
  }
}

.pcat-filter-button-label {
  color: $color-black-1;
  font-size: 16px;
  font-weight: $font-weight-light;
  letter-spacing: 0.2px;
}

.pcat-filter-button-icon {
  margin-left: 15px;
  padding-top: 7px;
}

.pcat-filter-button-icon-inner {
  display: flex;
  transition: transform 0.2s ease-out;
}

.pcat-extra-filter-section {
  background-color: $color-black-1;
  padding: 31px 0 24px;
}

.pcat-extra-filter-row {
  display: flex;
  justify-content: space-between;
}

.pcat-author-publisher-label {
  color: $color-white;
  font-size: 14px;
  font-weight: $font-weight-light;
  letter-spacing: 0.2px;
}

.pcat-author-publisher-des {
  color: $color-white;
  font-size: 14px;
  font-weight: $font-weight-light;
  letter-spacing: 0.2px;
  margin-top: 12px;
}

.pcat-author-publisher-row {
  display: flex;
  margin-top: 8px;
}

.pcat-author-publisher-col+.pcat-author-publisher-col {
  margin-left: 22px;
}

.pcat-author-publisher-select {
  position: relative;

  select {
    appearance: none;
    border: 1px solid $color-gray-2;
    border-radius: 4px;
    color: $color-black;
    font-size: 14px;
    font-weight: $font-weight-light;
    min-width: 264px;
    padding: 9px 10px;
  }
}

.pcat-author-publisher-select-icon {
  display: flex;
  position: absolute;
  right: 15px;
  top: 14px;
}

.pcat-classification-filter-label {
  color: $color-white;
  font-size: 14px;
  font-weight: $font-weight-light;
}

.pcat-classification-filter-select {
  margin-top: 8px;
  position: relative;

  select {
    appearance: none;
    background-color: $color-black-1;
    border: 1px solid $color-gray-2;
    border-radius: 4px;
    color: $color-white;
    font-size: 14px;
    font-weight: $font-weight-light;
    min-width: 264px;
    padding: 9px 10px;
  }
}

.pcat-classification-filter-select-icon {
  display: flex;
  position: absolute;
  right: 15px;
  top: 14px;
}

.pcat-results-title {
  h2 {
    color: $color-black-1;
    font-size: 18px;
    font-weight: $font-weight-semi-bold;
    letter-spacing: 1.8px;
  }
}

.pcat-results-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.pcat-results-col {
  padding: 55px 8px;
  width: 25%;
}

.pcat-result-item {
  border-bottom: 1px solid $color-black;
  height: 100%;
  position: relative;
}

.pcat-result-item-author-list {
  margin-top: 16px;
}

.pcat-result-item-author-item {
  color: $color-black;
  font-size: 14px;
  font-weight: $font-weight-light;
  line-height: 1.286;
  
  a {
    color: $color-black;
    text-decoration: underline;
  }
}

.pcat-result-item-info {
  padding: 0 30px 30px 0;
}

.pcat-result-item-image {
  align-items: flex-end;
  display: flex;
  height: 300px;

  img {
    box-shadow: 0 0 10px rgba($color-black, 0.5);
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
}

.pcat-result-item-meta-row {
  display: flex;
  margin-top: 45px;
}

.pcat-result-item-meta-col+.pcat-result-item-meta-col {
  margin-left: 20px;
}

.pcat-result-item-author-item+.pcat-result-item-author-item {
  margin-top: 8px;
}

.pcat-result-item-title {
  margin-top: 8px;

  h3 {
    color: $color-black-1;
    font-size: 14px;
    font-weight: $font-weight-extra-bold;
    line-height: 1.286;
  }
}

.pcat-result-item-footer-row {
  align-items: center;
  bottom: -34px;
  display: flex;
  left: 0;
  position: absolute;
  width: 100%;
}

.pcat-result-item-footer-col+.pcat-result-item-footer-col {
  margin-left: 20px;
}

.pcat-result-item-footer-product-price {
  color: $color-black-1;
  font-size: 12px;
  font-weight: $font-weight-light;
  padding-top: 4px;
}

.pcat-result-item-footer-product-discount {
  border: 1px solid $color-black-1;
  border-radius: 10px;
  color: $color-black-1;
  display: inline-block;
  font-size: 12px;
  padding: 0 5px;
}

.pcat-results-navigation-row {
  display: flex;
}

.pcat-results-navigation-item {
  &.active {
    a {
      background-color: $color-black-1;
      color: $color-white;
    }
  }
  
  a {
    background-color: $color-white;
    color: $color-black;
    display: inline-block;
    font-size: 16px;
    font-weight: $font-weight-light;
    height: 22px;
    text-align: center;
    width: 24px;
  }

  span {
    color: $color-black;
    display: inline-block;
    font-size: 16px;
    // background-color: $color-white;
    font-weight: $font-weight-light;
    height: 22px;
    text-align: center;
    width: 24px;
  }
}

.pcat-results-navigation-item+.pcat-results-navigation-item {
  margin-left: 8px;
}

.pcat-results-navigation-next {
  align-items: center;
  display: flex;
  height: 22px;
  margin-left: 16px;
}

.pcat-results-footer-select {
  align-items: center;
  display: flex;
}

.pcat-results-footer-select-label {
  color: $color-black;
  font-size: 14px;
  font-weight: $font-weight-light;
}

.pcat-results-footer-select-elem {
  margin-left: 10px;
  position: relative;

  select {
    appearance: none;
    background-color: $color-white;
    border: 1px solid $color-gray-2;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(55, 65, 81, 0.08);
    color: $color-black;
    font-size: 14px;
    font-weight: $font-weight-light;
    min-width: 45px;
    padding: 7px 10px 10px;
  }
}

.pcat-results-footer-select-elem-icon {
  display: flex;
  position: absolute;
  right: 8px;
  top: 12px;
}

.pcat-results-footer-options {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.pcat-results-footer-options-col+.pcat-results-footer-options-col {
  margin-left: 90px;
}

.pcat-results-projection-options {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.pcat-results-section {
  padding: 60px 0 70px;
}

.pcat-filter-detail-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.pcat-filter-detail-col {
  padding: 35px 8px 15px;
  width: 20%;
}

.pcat-filter-detail-root {
  padding-bottom: 22px;

  h3 {
    color: $color-black-1;
    font-size: 14px;
    font-weight: $font-weight-extra-bold;
    letter-spacing: 0.15px;
    line-height: 1.286;
    text-transform: uppercase;
  }
}

.pcat-filter-detail-child {
  color: $color-black-1;
  cursor: pointer;
  font-size: 14px;
  font-weight: $font-weight-light;
  line-height: 1.143;
  padding-left: 17px;
  position: relative;

  &.active {
    font-weight: $font-weight-extra-bold;

    &::before {
      opacity: 0;
      transform: rotate(-90deg);
    }

    &::after {
      transform: rotate(-90deg);
    }
  }

  &::before {
    background-color: $color-black-1;
    content: '';
    height: 2px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 7px;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    width: 10px;
  }

  &::after {
    background-color: $color-black-1;
    content: '';
    height: 10px;
    left: 4px;
    position: absolute;
    top: 3px;
    transition: transform 0.2s ease-out;
    width: 2px;
  }
}

.pcat-filter-detail-child+.pcat-filter-detail-child {
  margin-top: 25px;
}

.pcat-extra-thematic-filter {
  padding: 17px 0 33px;
}

.pcat-extra-thematic-filter-title {
  color: $color-white;
  font-size: 16px;
  font-weight: $font-weight-medium;
  letter-spacing: 1.28px;
  line-height: 1.125;
}

.pcat-extra-thematic-filter-row {
  @include clearfix();
  margin: 8px -8px 0;
}

.pcat-extra-thematic-filter-col {
  float: left;
  padding: 8px;
}

.pcat-extra-thematic-filter-item {
  background-color: $color-gray-1;
  color: $color-black;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 1.172;
  padding: 2px 40px 5px 16px;
  position: relative;

  span {
    cursor: pointer;
    display: inline-block;
    height: 14px;
    position: absolute;
    right: 12px;
    top: 4px;
    width: 14px;

    &::before {
      background-color: $color-black;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      top: 7px;
      transform: translate3d(0, -50%, 0) rotate(45deg);
      width: 14px;
    }

    &::after {
      background-color: $color-black;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      top: 7px;
      transform: translate3d(0, -50%, 0) rotate(-45deg);
      width: 14px;
    }
  }
}

.pcat-extra-thematic-filter-link {
  text-align: right;

  a {
    color: $color-white;
    font-size: 14px;
    font-weight: $font-weight-light;
    letter-spacing: 0.3px;
    text-decoration: underline;
  }
}
