.form-checkout-section {
  background-color: $color-gray;
  margin: 0 auto;
  max-width: $general-container-width;
  padding: 70px 0;
}

.form-checkout-inner {
  margin: 0 auto;
  max-width: 600px;
}

.form-checkout-title {
  h1 {
    color: $color-black;
    font-size: 32px;
    font-weight: $font-weight-extra-bold;
    line-height: 1.1875;
  }
}
