.pre-header-row {
  display: flex;
  justify-content: center;
  padding: 7px 0 6px;
}

.pre-header-col {
  color: $color-black-1;
  font-size: 12px;
  font-weight: $font-weight-light;
  padding: 0 20px 0 22px;
  position: relative;
  
  a {
    color: $color-black-1;
  }
}

.pre-header-col+.pre-header-col {
  &::before {
    background-color: $color-black-1;
    content: '';
    height: 14px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 1px;
  }
}

.pre-header-item {
  letter-spacing: 0.7px;
  padding: 2px 0 0 38px;
  position: relative;
}

.pre-header-item-icon {
  left: 0;
  position: absolute;
}

.pre-header-item-icon--bus {
  top: 0;
}

.pre-header-item-icon--calendar {
  top: -3px;
}

.pre-header-item-icon--phone {
  top: -1px;
}

.pre-header-item-icon--store {
  top: -1px;
}

.pre-header-social-row {
  display: flex;
}

.pre-header-social-col+.pre-header-social-col {
  margin-left: 20px;
}

.pre-header-social-icon {
  background-color: $color-black-1;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.pre-header-social-icon--youtube {
  padding: 4px 0 0 3px;
}

.pre-header-social-icon--sound-cloude {
  padding: 1px 0 0 4px;
}

.pre-header-social-icon--facebook {
  padding: 4px 0 0 7px;
}

.pre-header-social-icon--instagram {
  padding: 4px 0 0 4px;
}

.header-top {
  background-color: $color-black-1;
}

.header-top-row {
  padding: 30px 0 29px;
  position: relative;
}

.header-top-left {
  left: 31px;
  position: absolute;
  top: 32px;
}

.header-top-right {
  position: absolute;
  right: 35px;
  top: 32px;
}

.header-top-right-row {
  display: flex;
}

.header-top-right-col+.header-top-right-col {
  margin-left: 53px;
}

.header-top-logo {
  text-align: center;

  a {
    color: $color-white;
    font-size: 20px;
    font-weight: $font-weight-semi-bold;
    letter-spacing: 5.6px;
  }
}

.header-nav {
  background-color: $color-white;
  border-bottom: 2px solid $color-black;
}

.header-nav-row {
  display: flex;
  padding: 12px 0 12px 17px;
  position: relative;
}

.header-nav-col {
  position: relative;

  > a {
    color: $color-black;
    display: inline-block;
    font-size: 14px;
    font-weight: $font-weight-medium;
    letter-spacing: 0.56px;
    padding: 6px 25px 5px;
  }
}

.header-nav-col--has-child {
  > a {
    padding-right: 60px;
  }
}

.header-nav-arrow {
  position: absolute;
  right: 31px;
  top: 4px;
}

.header-nav-col+.header-nav-col {
  &::before {
    background-color: $color-black-1;
    content: '';
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
  }
}

.header-sub-menu {
  left: 0;
  opacity: 0;
  padding-top: 2px;
  position: absolute;
  top: 100%;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  visibility: hidden;
  width: 100%;
  z-index: 9999;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.header-sub-menu-inner {
  background-color: $color-white;  
}

.header-sub-menu-row {
  border-bottom: 2px solid $color-black;
  display: flex;
  padding: 32px 16px 66px;
}

.header-sub-menu-col {
  flex: 1;
  padding: 0 8px;
}

.header-sub-menu-item {
  > a {
    border-bottom: 2px solid $color-black;
    color: $color-black;
    display: inline-block;
    font-size: 18px;
    font-weight: $font-weight-extra-bold;
    padding-bottom: 10px;
    width: 100%;
  }
}

.header-sub-menu-item+.header-sub-menu-item {
  margin-top: 26px;
}

.header-sub-sub-menu {
  padding-top: 6px;
}

.header-sub-sub-menu-col {
  > a {
    color: $color-black;
    display: inline-block;
    font-size: 16px;
    font-weight: $font-weight-light;
    padding: 7px 0 8px;
    width: 100%;
  }
}

.header-sub-menu-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 28px 24px;
}

.header-sub-menu-footer-left {
  align-items: center;
  display: flex;
}

.header-sub-menu-footer-left-col {
  position: relative;

  a {
    color: $color-black;
    display: inline-block;
    font-size: 16px;
    font-weight: $font-weight-medium;
    letter-spacing: 0.64px;
  }
}

.header-sub-menu-footer-left-col+.header-sub-menu-footer-left-col {
  padding-left: 54px;

  &::before {
    background-color: $color-black-1;
    content: '';
    height: 28px;
    left: 26px;
    position: absolute;
    top: -5px;
    width: 1px;
  }
}

.header-sub-menu-footer-right {
  a {
    background-color: $color-black;
    border-radius: 8px;
    color: $color-white;
    display: inline-block;
    font-size: 16px;
    font-weight: $font-weight-light;
    letter-spacing: 0.5px;
    padding: 2px 9px 4px;
  }
}
