$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$font-main-family: 'literata';

$wide-container-width: 1250px;
$container-width: 1230px;
$small-container-width: 930px;

$color-black: #000;
$color-black-1: #1f1f1f;
$color-white: #fff;
$color-gray: #eae7df;

$breakpoint-tablet-start: 1000px;
$breakpoint-mobile-start: 767px;
