$font-weight-normal: 400;
$font-weight-semi-bold: 600;

$font-main-family: 'literata';

$container-width: 1280px;

$color-black: #000;
$color-white: #fff;

$breakpoint-tablet-start: 1000px;
$breakpoint-mobile-start: 767px;
